:root{
    color: brown;
    background-color: burlywood;
}

div{
    background-color: brown;
    align-items:  center;
}

h1{
    color: white;
    background-attachment: brown;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-img{
    height: 90px;
    width: 90px;
    padding-right: 10px;
}

.home-nav{
    background-color: brown;
    display: flex;
    border: 3px solid;
    border-color: rgb(123, 31, 31);
}

.recipe-img{
    height: 300px;
    width: 300px;
}



